

.post-list {
	list-style: none;
	margin: 0;
    padding: 0 20px 0 20px;
}

.header__headline--post {
	line-height: 1.35em;
}

.post-list__title {
	margin-bottom: 10px;
}

.content.blog {
	margin: 0 auto;
}

.content.post {
	max-width: 750px !important;
}

.content.post {
	max-width: 1100px;
	padding: 0 35px;
	display: block;
	margin: 25px auto 0 auto;
	overflow: hidden;
	position: relative;
	padding-bottom: 50px;

	@media (min-width: $medium) {
		margin: 25px auto 0 auto;
	}
}











