

.post-list {
	list-style: none;
	margin: 0;
    padding: 0 20px 0 20px;
}

.header__headline--blog {
	padding: 0 30px;
}

.header__headline--post {
	line-height: 1.35em;
}

.post-list__title {
    margin-bottom: 10px;
    font-size: 1.4em;
    line-height: 1.15em;
}

.content.blog {
	margin: 0 auto;
}

.content.post {
	max-width: 750px !important;
}

.post-list__tags {
	width: 100%;
	display: block;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
}

.post-list__tags__item {
	float: left;
	background-color: #ccc;
	padding: 0 3px;
	border-radius: 3px;
	margin-right: 5px;
}

.content.post {
	max-width: 1100px;
	padding: 0 15px;
	display: block;
	margin: 25px auto 0 auto;
	overflow: hidden;
	position: relative;
	padding-bottom: 50px;

	@media (min-width: $x-small) {
		padding: 0 35px;
	}

	@media (min-width: $medium) {
		margin: 25px auto 0 auto;
	}
}

.date {
    text-align: left;
    color: #8a8a8a;
    padding: 0 20px;
    margin: 5px 0 0px 0;
	@media (min-width: $x-small) {
		text-align: center;
	}
}











