
.content.resume {
	max-width: 1100px;
	padding: 0 30px;
	display: block;
	margin: 25px auto 0 auto;
	overflow: hidden;
	position: relative;
	padding-bottom: 115px;

	@media (min-width: $medium) {
		margin: 45px auto 0 auto;
	}
}

.content.resume ul {
	padding-left: 20px;
}

.resume__title {
	margin: 50px 0 25px 0;
}

.resume__job {
	margin-bottom: 30px;
}

.resume__job__title {
    margin: 0 0 10px 0;
}

.download-resume {
	display: none;
	@media (min-width: $medium) {
		display: inline-block;
	}	
}
