
.timeline {
	max-width: 1100px;
	padding: 0 5px;
	display: block;
	margin: 25px auto 0 auto;
	overflow: hidden;
	position: relative;
	padding-bottom: 115px;

	@media (min-width: $medium) {
		margin: 45px auto 0 auto;
	}
}

.timeline-block {
	width: 100%;
	overflow: hidden;
	display: block;
}

.timeline__stem {
	top: 0;
	bottom: 0;
	left: 5px;
	width: 4px;
	display: block;
	background-color: black;
	position: absolute;

	@media (min-width: $medium) {
		left: 50%;
		transform: translateX(-50%);
	}	
}

.timeline__item {
	width: calc(100% - 30px);
	position: relative;
	padding: 10px 15px;
	margin:  0 0 15px 0;
	background-color: $primary-color;
    box-shadow: inset 0px 0px 1px #ccc;

	@media (min-width: $medium) {
		width: calc(50% - 50px);
		margin:  0 0 0 0;
	}
}

.timeline__item__checklist li a {
	display: block;
	padding-top: 4px;	
	padding-bottom: 4px;	
	@media (min-width: $medium) {
		padding-top: 0;	
		padding-bottom: 0;
	}
}

.timeline__item--left {
	float: right;
	&:before {
		content: " ";
		top: 0;
		left: -50px;
		right: auto;
		height: 4px;
		width: 50px;
		background-color: black;
		position: absolute;
	}

	@media (min-width: $medium) {
		float: left;
		&:before {
			right: -50px;
			left: auto;
		}
	}
}

.timeline__item--right {
	float: right;
	&:before {
		content: " ";
		top: 0;
		left: -50px;
		height: 4px;
		width: 50px;
		background-color: black;
		position: absolute;
	}
}

.timeline__item__title {
	font-size: 18px;
    margin-top: 35px;
    display: block;
    font-weight: bold;
}

.timeline__item__date {
	float: right;
	color: white;
	top: 0;
	position: absolute;
	background-color: black;
	padding: 3px 7px;
}

.timeline__item__date--right {
	left: 0;
}

.timeline__item__date--left {
	right: auto;
	left: 0;
	@media (min-width: $medium) {
		right: 0;
		left: auto;
	}
}