body,
code {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.strong {
    font-weight: 800;
}

a,
a:visited,
a:focus,
a:hover {
    color: #0000EE;
}

#site-container {
    padding: 8px 16px;
    max-width: 715px;
}

.social-link,
.social-link:visited,
.social-link:focus,
.social-link:hover {
    text-decoration: none;
    width: 25%;
}

.emoji {
    font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
    font-size: 1.5rem;
}