/*
	project: Mack Solomon's Portfolio
	author: @mackness
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', arial;	
}

a {
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: underline;
}

.header {
	padding-top: 10px;
}

.header__headline {
	width: 100%;
	text-align: center;
	margin: 0px 0 10px 0;
}

.header__sub-headline {
	width: 100%;
	text-align: center;
	display: block;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.logo:hover .logo__glasses {

}

.glasses {
	width: 100%;
	text-align: center;
	position: fixed;
    top: 105px;
    z-index: 100;
    opacity: 0;
}

.glasses-animation {
    opacity: 1;
	animation: flipIn 1s 1 linear;
}

@keyframes flipIn {
  0% {
  	animation-duration: 2.5s;
	transform: rotate(140deg) translateX(0)  scale(2, 3.5) skew(0, 0) translateX(calc(50% + 55px))
  }
  30% {
  	animation-duration: 1s;
	transform: rotate(65deg) translateX(0)  scale(1.5, 2.25) skew(0, 0) translateX(calc(25% + 27px))
  }
  100% {
	transform: rotate(15deg) translateX(0) scale(1, 1) skew(0, 0) translateX(0)
  }
}

.glasses__image {
    max-width: 110px;
}

.logo__image {
	max-width: 120px;
	display: block;
	margin: 0 auto;
    position: relative;
    left: -2px;
}

.nav {
	overflow: hidden;
	background-color: #f1f1f1;
}

.nav__inner {
	max-width: 1100px;
	margin: 0 auto;
	display: block;
}

.nav__menu {
	list-style: none;
	overflow: hidden;
	float: right;
	margin: 10px 0 15px 0;
}

.nav__menu__item {
	float: left;
	margin-right: 8px;
	    margin-right: 13px;
}





