/* ==========================================================================
   Media Queries - "this shit right here"
   ========================================================================== */
@media all and (max-width: 1680px) {
	html {
		background-size: auto auto;
	}
}


@media all and (max-width: 1062px ) {
	.homepage_slider .flexslider {min-height: 0;}
}

@media all and (max-width: 1000px ) {

	.homepage_slider {
		margin: 38px 21px 14px 20px;
	}
	
	header nav {
	    width: 100%;
	    position: relative;
	    margin: 0 0 0 0;
	}
	.homepage_width_container header nav:before {background: none}
	.homepage_width_container header nav:after {background: none}
}

@media all and (max-width: 800px ) {

	nav ul li a { display: none }
	
	select.mobile_menu { 
		display: block;
		margin: -42px auto 0 auto;
		width: 91%;
		padding: 2px 5px;
		border-radius: 2px;
		border: solid 0px;
		border-radius: 2px;
		position: relative;
		z-index: 99;
		box-shadow: 0 0 11px rgba(0,0,0, 1);
	}

	.homepage_slider {
		position: relative;
		float: none;
		width: 77%;
		margin: 19px auto 20px auto;
	}

	.homepage_width_container .bio {
		width: 95%;
		margin: 1px 2.5% 27px 0;
	}

	.homepage_width_container .content section {
		width: 96%;
	}

	.homepage_width_container .content section:nth-child(1):before,
	.homepage_width_container .content section:nth-child(2):before,
	.homepage_width_container .content section:nth-child(3):before
	{background: none;}
}

@media all and (max-width: 580px ) {
	header .home_link {
		width: 211px;
		height: 108px;
		margin: 11px auto 22px auto;
	}
}

@media all and (max-width: 350px ) {}











