---
layout: interior
title: Books
---
                <h3>Romantic Fantasty</h3>
                <section class="carousel">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                        </ul>
                    </div>
                </section>  
                

                <h3>Fiction</h3>
                <section class="carousel">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                        </ul>
                    </div>
                </section>  


                <h3>Non-Fiction</h3>
                <section class="carousel">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                            <li>
                            {% for post in site.categories.book %} 
                                <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}{{ post.img-url }}" /></a>
                            {% endfor %}
                            </li>
                        </ul>
                    </div>
                </section>  

