                <section class="carousel">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <a href="#"><img src="img/books/abridesdesire.jpg" /></a>
                                <a href="#"><img src="img/books/apachesangel.jpg" /></a>
                                <a href="#"><img src="img/books/apachesdesire.jpg" /></a>
                                <a href="#"><img src="img/books/boldmontanabride.jpg" /></a>
                                <a href="#"><img src="img/books/brightstarspromise.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/books/desperadodream.jpg" /></a>
                                <a href="#"><img src="img/books/distantthunder.jpg" /></a>
                                <a href="#"><img src="img/books/foreverpassion.jpg" /></a>
                                <a href="#"><img src="img/books/littleflowersdesire.jpg" /></a>
                                <a href="#"><img src="img/books/lovesbrightstar.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/books/savagefury.jpg" /></a>
                                <a href="#"><img src="img/books/sundancerslegacy.jpg" /></a>
                                <a href="#"><img src="img/books/survival1.jpg" /></a>
                                <a href="#"><img src="img/books/survival2.jpg" /></a>
                                <a href="#"><img src="img/books/survival3.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/books/survival4.jpg" /></a>
                                <a href="#"><img src="img/books/survival5.jpg" /></a>
                                <a href="#"><img src="img/books/survival6.jpg" /></a>
                                <a href="#"><img src="img/books/survival7.jpg" /></a>
                                <a href="#"><img src="img/books/survival9.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/books/survival10.jpg" /></a>
                                <a href="#"><img src="img/books/survival11.jpg" /></a>
                                <a href="#"><img src="img/books/sweetmedicinesprophecy.jpg" /></a>
                                <a href="#"><img src="img/books/threeofhearts.jpg" /></a>
                                <a href="#"><img src="img/books/winterslovesong.jpg" /></a>
                            </li>
                        </ul>
                    </div>
                </section>