                <footer id="footer" class="clearfix">
                <section>
                    <h4>Twitter Feed</h4>
                </section>
                <section>
                    <p><script type="text/javascript" src="http://www.brainyquote.com/link/quotebr.js"></script></p>
                </section>
                 <section>
                        <h4>Mailing List</h4>
                        <form>
                            <input type="text" name="fname" placeholder="First Name">
                            <input type="text" name="fname" placeholder="E-mail Address">
                            <input type="submit" value="Submit">
                        </form>
                    </section>
                </footer>
            </div><!-- end site_wrapper -->
        </div><!-- end site_wrapper -->
    <!--  Javascript -->
    <script src="{{ .site.url }}/js/jquery-1.9.1.min.js"></script>
    <script defer src="{{ .site.url}}/js/jquery.flexslider-min.js"></script>
    <script src="{{ .site.url}}/js/main.js"></script>
    </body>
    </html>