<nav class="nav">
	<div class="nav__inner">
		<ul class="nav__menu nav__menu--left">
			<li class="nav__menu__item"><a class="nav__menu__anchor" href="https://github.com/mackness">github</a></li>
			<li class="nav__menu__item"><a class="nav__menu__anchor" href="http://codepen.io/mackness">codepen</a></li>
			<li class="nav__menu__item"><a class="nav__menu__anchor" href="https://www.linkedin.com/in/macksolomon">linkedin</a></li>
		</ul>
		<ul class="nav__menu nav__menu--right">
			<li class="nav__menu__item"><a class="nav__menu__anchor" href="index.html">home</a></li>
			<li class="nav__menu__item"><a class="nav__menu__anchor" href="./resume.html">resum&eacute;</a></li>
			<li class="nav__menu__item"><a class="nav__menu__anchor" href="/blog">blog</a></li>
			<li class="nav__menu__item"><a class="nav__menu__anchor" href="/contact">contact</a></li>
		</ul>
	</div>
</nav>